$neutral-700: #4C4C4C;
$primary: #0F5850;
$primary-gold: #B79946;


body,
html {
    height: 100%;
}

body * {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    line-height: 150%;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    background: #fff;

    &.hidden {
        overflow: hidden;
    }
}

@media(min-width:1500px) {
    .container {
        max-width: 1324px;
    }
}

input {
    outline: none;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

h1 {
    color: $primary;
    font-size: 48px;
    line-height: 110%;
    font-weight: 700;

    &.white {
        color: #fff;
    }
}

h2 {
    color: $primary;
    font-size: 48px;
    line-height: 110%;
    font-weight: 700;
    margin-bottom: 24px;

    &.white {
        color: #fff;
    }
}

h3 {
    color: $primary;
    font-size: 40px;
    line-height: 130%;
    font-weight: 500;

    &.white {
        color: #fff;
    }
}

h4 {
    color: $primary;
    font-size: 32px;
    line-height: 130%;
    font-weight: 500;

    &.white {
        color: #fff;
    }
}

.text-center {
    text-align: center;
}

// ---------------
.subtitle {
    margin-bottom: 12px;
    color: $primary-gold;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.white-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 47px;
    padding: 3px 24px;
    border-radius: 30px;
    color: $primary;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    background: #fff;
    line-height: normal;

    &:hover {
        background: $primary;
        color: #fff;
    }

    &.white-btn_goldtext {
        color: $primary-gold;

        &:hover {
            color: #fff;
        }
    }
}

.gold-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 47px;
    padding: 3px 24px;
    border-radius: 30px;
    color: #111111;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    background: $primary-gold;
    line-height: normal;

    &:hover {
        background: $primary;
        color: #fff;
    }

    &.gold-btn_whitetext {
        color: #fff;
    }

    &.hasimg {
        padding-right: 8px;
        padding-inline-end: 8px;

        img {
            width: 30px;
            // margin-left: 10px;
            margin-inline-start: 10px;
        }
    }
}

.green-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 47px;
    padding: 3px 24px;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    background: $primary;
    line-height: normal;

    &:hover {
        background: #fff;
        color: $primary;
    }

    &.hasimg {
        padding-right: 8px;
        padding-inline-end: 8px;

        img {
            width: 30px;
            // margin-left: 10px;
            margin-inline-start: 10px;
        }
    }
}







[dir="rtl"] {

    .header__nav .has-submenu img,
    .header__language img {
        transform: translateY(-50%) scaleX(-1); // відзеркалює стрілку горизонтально
    }

    .swiper-button-next {
        order: 1;
    }

    .swiper-button-prev {
        order: 2;
    }

    .ctabox:after {
        left: initial;
        right: 0;
        background: linear-gradient(89.8deg, rgba(183, 153, 70, 0) 18.43%, #B79946 48.53%);
    }

    .ctabox.ctabox__v2 {
        .ctabox-img {
            transform: scaleX(-1);
        }
    }


    @media(min-width:991px) {
        .offset-lg-1 {
            margin-left: 0;
            margin-right: 8.333333%; // 1 колонка з 12
        }
    }

    .testimonials-item {
        .rate .author {
            padding-right: 20px;
        }

        .descr {
            border-left: none;
            border-right: 3px solid #B79946;
        }
    }

    @media(max-width:767.8px) {
        .cta_btnwrap {
            text-align: right;
        }
    }
}



@media(max-width:1399.8px) {
    .subtitle {
        font-size: 18px;
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 28px;
    }
}

@media(max-width:1199.8px) {
    .subtitle {
        font-size: 16px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }
}

@media(max-width:575.8px) {
    .white-btn {
        min-height: 44px;
        padding: 3px 20px;
    }

    .gold-btn {
        min-height: 44px;
        padding: 3px 20px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
        margin-bottom: 20px;

        br {
            display: none;
        }
    }

    h3 {
        font-size: 24px;

        br {
            display: none;
        }
    }



}