$neutral-700: #4C4C4C;
$primary: #0F5850;
$primary-gold: #B79946;


body,
html {
    height: 100%;
}

body * {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    line-height: 150%;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;

    &.hidden {
        overflow: hidden;
    }
}

@media(min-width:1500px) {
    .container {
        max-width: 1324px;
    }
}

input {
    outline: none;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

h1 {}

h2 {
    color: $primary;
    font-size: 48px;
    line-height: 110%;
    font-weight: 700;
    margin-bottom: 24px;

    &.white {
        color: #fff;
    }
}



// ---------------
.subtitle {
    margin-bottom: 12px;
    color: $primary-gold;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.white-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 47px;
    padding: 3px 24px;
    border-radius: 30px;
    color: $primary;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    background: #fff;
    line-height: normal;

    &:hover {
        background: $primary;
        color: #fff;
    }
}

.gold-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 47px;
    padding: 3px 24px;
    border-radius: 30px;
    color: #111111;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    background: $primary-gold;
    line-height: normal;

    &:hover {
        background: $primary;
        color: #fff;
    }

    &.hasimg {
        padding-right: 8px;
        padding-inline-end: 8px;
        img {
            width: 30px;
            // margin-left: 10px;
            margin-inline-start: 10px;
        }
    }
}









[dir="rtl"] {

    .header__nav .has-submenu img,
    .header__language img {
        transform: translateY(-50%) scaleX(-1); // відзеркалює стрілку горизонтально
    }
}