header.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 12;
}

.header__contacts {
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(#031A1A, 0.3);
}

.header__contactlist {
    display: flex;
    flex-wrap: wrap;

    li {
        // margin-right: 28px;
        margin-inline-end: 28px;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        color: $neutral-700;
        position: relative;
        // padding-left: 28px;
        padding-inline-start: 28px;
        font-size: 14px;
        transition: 0.3s;

        &:hover {
            color: #0F5850;
        }

        img {
            position: absolute;
            // left: 0;
            inset-inline-start: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
        }
    }
}

.header__sociallist {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    li {
        // margin-right: 12px;
        margin-inline-end: 12px;

        a {
            display: inline-block;
            transition: 0.3s;

            &:hover {
                opacity: 0.8;
            }
        }

        &:last-child {
            // margin-right: 0;
            margin-inline-end: 0;
        }
    }

    img,
    svg {
        width: 20px;
        vertical-align: top;
    }
}

// -
.header__main {
    padding: 18px 0 6px;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    img {
        max-width: 212px;
        vertical-align: top;
    }
}

.header__nav {
    &>ul {
        &>li {
            // margin-right: 28px;
            margin-inline-end: 28px;
            position: relative;
            display: inline-block;
            vertical-align: middle;

            &>a {
                color: $primary;
                font-size: 18px;
                font-weight: 500;
                position: relative;
                transition: 0.3s;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: -4px;
                    height: 2px;
                    width: 0;
                    background: #0F5850;
                    transition: 0.3s;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }

            &.has-submenu {
                a {
                    // padding-right: 28px;
                    padding-inline-end: 28px;

                    &.rotate img,
                    &.rotate svg {
                        transform: translateY(-50%) rotate(-180deg);
                    }
                }

                img,
                svg {
                    width: 24px;
                    position: absolute;
                    // right: 0;
                    inset-inline-end: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: 0.3s;
                    margin-top: -1px;
                }
            }
        }
    }

    .submenu {
        position: absolute;
        top: calc(100% + 5px);
        // left: calc(100% - 40px);
        inset-inline-start: calc(100% - 40px);
        width: 367px;
        background: #fff;
        box-shadow: 0 0 6px rgba(#043631, 0.2);
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transform: translateY(-20px);
        transition: 0.5s;

        li {

            a {
                padding-inline-end: 0 !important;
                padding: 7px 12px;
                display: block;
                color: #043631;
                font-size: 14px;
                border-bottom: 1px solid rgba(#CCCCCC, 0.7);
                transition: 0.3s;

                &:hover {
                    background: #DEE5E4;
                }
            }
        }

        &.open {
            opacity: 1;
            z-index: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

}

.header__language {
    position: relative;

    span {
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        // padding-right: 28px;
        padding-inline-end: 28px;
        color: #111111;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: #0F5850;
        }

        img,
        svg {
            position: absolute;
            width: 24px;
            // right: 0;
            inset-inline-end: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.3s;
            margin-top: -1px;
        }
    }

    ul {
        background: #fff;
        position: absolute;
        width: 60px;
        // left: -10px;
        inset-inline-start: -10px;
        box-shadow: 0 0 6px rgba(4, 54, 49, 0.2);
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transform: translateY(-10px);
        transition: 0.5s;

        li {
            a {
                display: block;
                padding: 3px 10px;
                text-transform: uppercase;
                color: #111111;
                font-weight: 500;
                color: #043631;
                font-size: 16px;
                transition: 0.3s;

                &:hover {
                    background: #DEE5E4;
                }
            }

            border-bottom: 1px solid rgba(204, 204, 204, 0.7);

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &.open {
        ul {
            opacity: 1;
            z-index: 1;
            visibility: visible;
            transform: translateY(0);
        }

        span img {
            transform: translateY(-50%) rotate(-180deg);
        }
    }
}

.header__burger,
.closemenu {
    display: none;
}


.header__white {
    .header__contactlist a {
        color: #E6E6E6;

        &:hover {
            color: $primary-gold;
        }
    }

    .header__sociallist li a {

        svg path {
            transition: 0.3s;
        }

        &:hover {
            opacity: 1;

            svg path {
                fill: $primary-gold;
            }
        }
    }

    .header__nav>ul>li>a {
        color: #fff;
    }

    .header__nav>ul>li>a:after {
        background: #fff;
    }

    .header__language span {
        color: #E6E6E6;
    }

    .header__nav>ul>li.has-submenu svg path,
    .header__language span svg path {
        stroke: #fff;
    }


}

@media(max-width:1199.8px) {

    .header__nav>ul>li>a,
    .header__language span {
        font-size: 16px;
    }
}

@media(max-width:991.8px) {

    .header__logo {
        width: 100%;
        max-width: 215px;
        flex: 0 0 215px;
    }

    header.header .mobilewrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        max-width: calc(100% - 215px);
        flex: 0 0 calc(100% - 215px);
    }

    .header__language {
        display: inline-block;
    }

    .header__nav {
        position: fixed;
        right: 0;
        top: 0;
        width: 400px;
        height: 100vh;
        background: #fff;
        padding: 120px 40px 20px 40px;
        overflow: auto;
        z-index: 9;
        transform: translateX(100%);
        transition: 0.5s;

        &.show {
            transform: translateX(0);
        }
    }

    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        z-index: 1;
    }

    .menu-overlay.active {
        opacity: 1;
        visibility: visible;
    }

    .header__nav>ul>li {
        display: block;
        margin-bottom: 15px;
        margin-inline-end: 0;

        &>a {
            font-size: 18px;
        }
    }

    .header__nav .submenu {
        top: initial;
        width: 100%;
        inset-inline-start: 0;
        box-shadow: none;
        opacity: 1;
        visibility: visible;
        z-index: 1;
        transform: none;
        position: relative;
        display: none;

        &.open {
            display: block;
        }
    }

    .header__nav .submenu li a {
        border-bottom: none;
    }

    .header__nav .submenu li a {
        font-size: 16px;
    }

    .header__burger {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        background: transparent;

        width: 36px;
        height: 36px;
        position: relative;
        padding: 0;
        // margin-left: 12px;
        margin-inline-start: 12px;

    }

    .closemenu {
        position: absolute;
        right: 40px;
        top: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        background: transparent;
    }

    .header__white .header__nav>ul>li>a {
        color: #0F5850;
    }

    .header__nav>ul>li.has-submenu svg path {
        stroke: #043631;
    }

    .header__white .header__nav>ul>li.has-submenu svg path {
    stroke: #043631;
}


}

@media(max-width:767.8px) {
    .header__contactlist a span {
        display: none;
    }

    .header__contactlist a {
        padding-inline-start: 0;

        img {
            position: relative;
            vertical-align: top;
        }
    }

    .header__sociallist img,
    .header__sociallist svg {
        vertical-align: top;
    }

    .header__contactlist li {
        margin-inline-end: 15px;
    }

}

@media(max-width:575.8px) {

    .header__nav {
        width: 100%;
    }

}









// margin-inline-end: 12px;
// padding-inline-start: 28px;
// right: 0;
// inset-inline-end: 0;