.herosection {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 800px;
    padding: 82px 0;
    display: flex;
    align-items: center;

    .container {
        position: relative;
        z-index: 1;
    }

    .subtitle {
        margin-bottom: 8px;
    }

    h1 {
        color: $primary;
        margin-bottom: 18px;
        font-size: 80px;
        font-weight: 700;
        line-height: 110%;
    }

    p:not(.subtitle) {
        max-width: 530px;
        color: $neutral-700;
        font-size: 18px;
        margin-bottom: 32px;
    }

    .parallax-box {
        width: 100%;
        height: 100%;
        position: absolute !important;

        &>div {
            position: absolute !important;
            width: 100%;
            height: 100%;
        }
    }
}

.herosection__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.btngroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    a {
        // margin-right: 16px;
        margin-inline-end: 16px;

        &:last-child {
            margin-right: 0;
            margin-inline-end: 0;
        }
    }
}

.hero__airplane {
    position: absolute;
    // right: 0;
    inset-inline-end: 0;
    top: 39px;
    max-width: 60%;
    z-index: 1;
}

.hero__cloud {
    max-width: 500px;
    position: absolute;
    // right: 47px;
    inset-inline-end: 47px;
    top: 0;
    z-index: 2;
}

// -
.conmpany-counterinfo {
    background: $primary;
    padding: 36px 0 40px;
}

.counter__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.counter__item {
    width: 100%;
    max-width: 250px;
    flex: 0 0 250px;
    display: flex;

    img {
        width: 100%;
        max-width: 80px;
        flex: 0 0 80px;
    }

    .counter__descr {
        width: 100%;
        max-width: calc(100% - 80px);
        flex: 0 0 calc(100% - 80px);
        // padding-left: 24px;
        padding-inline-start: 24px;

        p {
            color: #CCCCCC;
            margin: 0;
            font-size: 14px;
        }

        .title {
            margin-bottom: 6px;
            font-size: 48px;
            color: #fff;
            font-weight: 700;
            line-height: 110%;
        }
    }
}

// -
.services {
    padding: 120px 0;
}

.services__info {
    h2 {
        margin-bottom: 20px;
    }

    p:not(.subtitle) {
        max-width: 330px;
        color: $neutral-700;
        font-size: 18px;
    }
}








// margin-inline-end: 12px;
// padding-inline-start: 28px;

// right: 0;
// inset-inline-end: 0;