.herosection {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 800px;
    padding: 82px 0;
    display: flex;
    align-items: center;

    .container {
        position: relative;
        z-index: 1;
    }

    .subtitle {
        margin-bottom: 8px;
    }

    h1 {
        color: $primary;
        margin-bottom: 18px;
        font-size: 80px;
        font-weight: 700;
        line-height: 110%;
    }

    p:not(.subtitle) {
        max-width: 530px;
        color: $neutral-700;
        font-size: 18px;
        margin-bottom: 32px;
    }

    .parallax-box {
        width: 100%;
        height: 100%;
        position: absolute !important;

        &>div {
            position: absolute !important;
            width: 100%;
            height: 100%;
        }
    }
}

.herosection__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.btngroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    a {
        // margin-right: 16px;
        margin-inline-end: 16px;

        &:last-child {
            margin-right: 0;
            margin-inline-end: 0;
        }
    }
}

.hero__airplane {
    position: absolute;
    // right: 0;
    inset-inline-end: 0;
    top: 39px;
    max-width: 60%;
    z-index: 1;
}

.hero__cloud {
    max-width: 500px;
    position: absolute;
    // right: 47px;
    inset-inline-end: 47px;
    top: 0;
    z-index: 2;
}

// -
.conmpany-counterinfo {
    background: $primary;
    padding: 36px 0 40px;
}

.counter__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.counter__item {
    width: 100%;
    max-width: 250px;
    flex: 0 0 250px;
    display: flex;

    img {
        width: 100%;
        max-width: 80px;
        flex: 0 0 80px;
    }

    .counter__descr {
        width: 100%;
        max-width: calc(100% - 80px);
        flex: 0 0 calc(100% - 80px);
        // padding-left: 24px;
        padding-inline-start: 24px;

        p {
            color: #CCCCCC;
            margin: 0;
            font-size: 14px;
        }

        .title {
            margin-bottom: 6px;
            font-size: 48px;
            color: #fff;
            font-weight: 700;
            line-height: 110%;
        }
    }
}

// -
.services {
    padding: 120px 0 80px;
    position: relative;

    .container {
        position: relative;
        z-index: 1;
    }

    .bgel1 {
        position: absolute;
        top: 200px;
        left: 66px;
        max-width: 700px;
        width: 100%;
    }

    .bgel2 {
        position: absolute;
        max-width: 100%;
        left: 0;
        top: 214px;
        // width: calc(100% - 50px);
    }
}

.services__info {
    h2 {
        margin-bottom: 20px;
    }

    p:not(.subtitle) {
        max-width: 330px;
        color: $neutral-700;
        font-size: 18px;
    }
}

.services__item {
    height: 100%;
    display: block;
    position: relative;

    .imgwrap {
        position: relative;
        overflow: hidden;
        height: 500px;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            transition: 0.5s;
        }
    }

    &::after {
        content: '';
        display: block;
        height: 2px;
        width: 0;
        background: $primary-gold;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        transition: 0.5s;
    }


    &:hover {
        .imgwrap img {
            transform: scale(1.05);
        }

        &::after {
            width: 100%;
        }
    }

}

.services__item-descr {
    padding-top: 20px;
    padding-bottom: 12px;

    h5 {
        color: $primary;
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 110%;
        font-weight: 500;
    }

    p {
        color: $neutral-700;
        font-size: 14px;
        margin-bottom: 8px;
    }

    .learn-more {
        display: inline-block;
        color: $primary-gold;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        padding-right: 28px;

        img {
            width: 20px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.servcol {
    margin-bottom: 20px;
}

// -
.aboutus {
    padding: 130px 0 0 0;
    background: #E6E6E6;
}

.aboutus__topsection {
    .imgwrap {
        position: relative;
    }

    .about__mainpic {
        border-radius: 200px 0 0 0;
        width: 100%;
        vertical-align: top;
    }

    .about__logo {
        position: absolute;
        left: -13px;
        top: -17px;
        width: 169px;
    }
}

.aboutus__info {
    padding-top: 7px;

    .description {
        margin-bottom: 32px;

        p {
            color: $neutral-700;
            font-size: 18px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .white-btn {
        color: #031A1A;

        &:hover {
            color: #fff;
        }
    }

    h2 {
        opacity: 0.8;
    }
}

.standarts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 52px;
}

.standarts-item {
    width: 100%;
    max-width: calc(50% - 10px);
    flex: 0 0 calc(50% - 10px);
    background: #CCCCCC;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px;

    img {
        width: 100%;
        max-width: 40px;
        flex: 0 0 40px;
    }

    .descr {
        width: 100%;
        max-width: calc(100% - 40px);
        flex: 0 0 calc(100% - 40px);
        padding-left: 8px;

        p {
            color: #4D6069;
            font-size: 12px;
            margin: 0;
            text-transform: capitalize;
        }

        .title {
            margin-bottom: 4px;
            color: $primary;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

.aboutus__botsection {
    margin-top: 35px;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(359.67deg, rgba(#0B0B0D, 0.85) 6.83%, rgba(11, 11, 13, 0) 70%);
        width: 100%;
        height: 100%;

    }

    .container {
        position: relative;
        z-index: 2;
    }

    .about-bg {
        width: 100%;
        vertical-align: top;
    }
}

.aboutus__bottinfo {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 178px;
    z-index: 1;

    h3 {
        margin-bottom: 58px;
    }

    .gold-btn {
        color: #fff;
    }
}

// -
.testimonials {
    padding: 130px 0;
    background: #F8F7F3;
    position: relative;
}

.testimonials__header {
    text-align: center;
    opacity: 0.8;
    margin-bottom: 63px;

    h2 {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.testimonials__wrapper {
    max-width: 940px;
    margin: 0 auto;
}

.testimonials-item {
    // padding-left: 40px;
    padding-inline-start: 40px;
    position: relative;

    .imgwrap {
        position: absolute;
        width: 80px;
        height: 80px;
        // left: 0;
        inset-inline-start: 0;
        top: 50%;
        transform: translateY(-50%);

        .avaimg {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .quote-img {
            width: 44px;
            position: absolute;
            // right: -15px;
            inset-inline-end: -15px;
            top: -4px;
        }
    }

    .descr {
        background: #fff;
        border-left: 3px solid $primary-gold;
        // padding: 36px 36px 32px 82px;
        padding-top: 36px;
        padding-bottom: 32px;
        padding-inline-start: 82px;
        padding-inline-end: 36px;

        p {
            color: #4C4C4C;
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    .rate {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 15px;

        .stars {
            display: flex;
            width: 100%;
            max-width: 108px;
            flex: 0 0 108px;
            justify-content: space-between;

            img {
                width: 20px;
            }
        }

        .author {
            width: 100%;
            max-width: calc(100% - 108px);
            flex: 0 0 calc(100% - 108px);
            text-align: right;

            p {
                margin-bottom: 0;
                color: #949494;
                font-size: 12px;
            }

            .name {
                margin-bottom: 0;
                color: #031A1A;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}

.testimonial-text {
    min-height: 126px;
}

.testimonials__bg {
    position: absolute;
    top: 125px;
    left: 0;
    width: 100%;
}

// -
.clients {
    padding: 100px 0 120px;

    h4 {
        margin-bottom: 56px;
        text-align: center;
    }
}

.clients-slider .swiper-slide {
    width: auto;
}

.clients-slider .clients-item {
    width: auto;
    display: inline-flex;
    align-items: center;
    height: 65px;
}

.clients-slider img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.slider-nav {
    text-align: center;
    margin-top: 48px;
    position: relative;

    &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        // left: 0;
        inset-inline-start: 0;
        top: 50%;
        transform: translateY(-50%);
        background: $primary-gold;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: relative;
        left: initial !important;
        right: initial !important;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $primary-gold;
        margin: 0 4px;
        transition: 0.3s;

        // svg {
        //     display: none;
        // }

        img,
        svg {
            max-width: 14px;
        }

        svg path {
            transition: 0.3s;
        }

        &:hover {
            background: $primary-gold;

            svg path {
                stroke: #fff;
            }
        }
    }

    .btns {
        display: inline-flex;
        align-items: center;
        padding: 0 14px;
        background: #fff;
        z-index: 1;
        position: relative;
    }
}

// -

.cta-section {
    position: relative;
    display: flex;
    align-items: center;
    background: $primary-gold;
    min-height: 212px;
    padding: 40px 0;

    h3 {
        margin: 0;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .green-btn {
        img {
            border-radius: 50%;
        }

        &:hover {
            img {
                box-shadow: 0 0 6px #031A1A;
            }
        }
    }
}

.cta_btnwrap {
    text-align: right;
}

.ctabg {
    position: absolute;
    // right: 8%;
    inset-inline-end: 8%;
}

@media(max-width:1599.8px) {
   
}






// margin-inline-end: 12px;
// padding-inline-start: 28px;

// right: 0;
// inset-inline-end: 0;